body{
    padding-top: 90px;
}

p{
    font-family: Roboto, Arial;
    margin: 0;
}

.header{
    /* position: fixed;
    left: 30px;
    opacity: 0.8;
    padding-bottom: 50px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100; */
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(226, 226, 226);
    z-index: 100;
}

.big-text{
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}
.big-text2{
    font-size: 21px;
    font-style: normal;
}

.info-text{
    font-family: Open Sans;
    width: 500px;
    margin-left: 20px;
    
}

.all-text{
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    letter-spacing: 2px;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 15px;
    padding: 10px;
}

.paragraph{
    margin-top: 10px;
}

.background-photo{
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

.charity-box{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.charities-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.charity-picture{
    width: 200px;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    transition: opacity 0.3s;
    border-radius: 6px;
    padding: 15px;
    margin-right: 20px;
    position:  relative;
}
.charity-picture:hover {
    opacity: 0.7;
}

.center{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px){
    .charity-picture{
        width: 150px;
    }
    .big-text{
        font-size: 28px;
    }
}

@media only screen and (max-width: 900px){
    .charity-picture{
        width: 125px;
    }
    .big-text{
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px){
    .charity-picture{
        width: 100px;
    }
    .big-text{
        font-size: 23px;
    }
}

@media only screen and (max-width: 600px){
    .charity-picture{
        width: 75px;
    }
    
}
